<div class="card">
    <div class="resources-needed" ng-if="card.resourcesNeeded">
        <div ng-repeat="(resource, cost) in card.resourcesNeeded">
            <span>{{cost}}</span>
            <img ng-src="img/{{resource}}.png" alt="">
        </div>
    </div>
    <div class="total" ng-if="total">{{total}}</div>
    <div class="remBtn" ng-click="removeCard()"></div>
    <div class="image">
        <img ng-src="img/{{card.name.toLowerCase()}}.png" alt="">
    </div>
    <div class="name">{{card.name}}</div>
    <div class="stats" ng-if="!trade">
        <div ng-if="card.att">Attack: <span>{{card.att}}</span></div>
        <div ng-if="card.def">Defense <span>{{card.def}}</span></div>
    </div>
    <div class="trade-card-button" ng-if="trade">
        <button ng-click="trade(card)">Trade</button>
    </div>
</div>


