<div class="playing-field">
    <attack player="g.game.player" g="g"></attack>
    <div class="draw-cards">
        <div class="total-damages-done" ng-show="g.game.damageToPlayer && g.game.damageToOpponent">
                <span ng-show="g.game.damageToOpponent > 0">You are going to do {{g.game.damageToOpponent}} damage!<br></span>
                <span ng-show="g.game.damageToPlayer > 0">Your opponent is going to do {{g.game.damageToPlayer}} damage!</span>
            </span>
        </div>

        <div class="draw-card" ng-class="{active: (g.game.turnAvailable && !g.drawnCard), finish: (g.game.turnAvailable && g.drawnCard)}" >
            <span ng-show="g.game.turnAvailable && !g.drawnCard">Draw a card!</span>
            <span ng-show="g.game.turnAvailable && g.drawnCard">Finish Turn!</span>
        </div>
        <img src="img/draw-card.jpg" alt="" ng-click="g.drawCard()" >
        <div class="show-drawn-card">
            <card ng-show="g.game.player.drawnCard" card="g.game.player.drawnCard">
        </div>
    </div>
    <attack player="g.game.opponent"></attack>

</div>