<div class="card">
    <div class="image">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQteVWLqc0xaGWdNikiDZE7sqXiWN6Ba6dh65J5v7S74XurynwaVQ" alt="">
    </div>
    <div class="name">{{card.name}}</div>
    <div class="stats">
        <div>Attack: <span>{{card.att}}</span></div>
        <div>Defense <span>{{card.def}}</span></div>
    </div>
    <div class="resources-needed">
        <div>Resourced Needed</div>
        <div>Meat: <span>{{card.resourcesNeeded.meat}}</span></div>
        <div>Water: <span>{{card.resourcesNeeded.water}}</span></div>
    </div>
</div>


