<div class="card">
    <div class="total" ng-if="total">{{total}}</div>
    <div class="image">
        <img ng-src="img/{{card.name.toLowerCase()}}.png" alt="">
    </div>
    <div class="name">{{card.name}}</div>
    <div class="stats">
        <div>Attack: <span>{{card.att}}</span></div>
        <div>Defense <span>{{card.def}}</span></div>
    </div>
    <div class="resources-needed">
        <div>Resourced Needed</div>
        <div>Meat: <span>{{card.resourcesNeeded.meat}}</span></div>
        <div>Water: <span>{{card.resourcesNeeded.water}}</span></div>
    </div>
</div>


