<div class="game-area" ng-class="{damaged: g.playerDamaged}">
    <div ng-if="g.disconnected">YOU GOT DISCONNECTED</div>
    <div class="end-game" ng-if="g.game.gameEnded">
        <div class="lose" ng-if="g.game.lose">You Lose!</div>
        <div class="win" ng-if="g.game.win">You Win!</div>
    </div>

    <div class="opponent player">
        <div class="profile bg-danger">
            <div ng-if="!g.game.opponent.name">Waiting for opponent!</div>
            <div class="name">{{g.game.opponent.name}}</div>
            <div class="hp">{{g.game.opponent.hp}}</div>
        </div>
        <!--<div class="cards">-->

        <!--</div>-->
        <!--<div class="cards-drawn">-->
            <!--<div class="resources">-->
            <!--</div>-->
            <!--<div class="card" ng-repeat="card in g.game.opponent.drawnCards track by $index">-->
                <!--{{card.name}}-->
            <!--</div>-->

        <!--</div>-->
    </div>
    <div class="cards-played">
        <div class="players-card">
            <div class="card-played" ng-show="g.game.player.playedCard">
                {{g.game.player.playedCard.name}}<br>
                Attack: {{g.game.player.playedCard.att}}<br>
                Defense: {{g.game.player.playedCard.def}}<br>

            </div>
        </div>
        <div class="opponents-card">
            <div class="card-played" ng-show="g.game.opponent.playedCard">
                {{g.game.opponent.playedCard.name}}<br>
                Attack: {{g.game.opponent.playedCard.att}}<br>
                Defense: {{g.game.opponent.playedCard.def}}<br>
            </div>
        </div>

    </div>
    <div class="players-cards">
        <div class="card" ng-repeat="card in g.game.player.characters" ng-click="g.playCard(card[0])" ng-show="card.length">
            <div>
                <div class="total">{{card.length}}</div>
                <div class="name">{{card[0].name}}</div>
                <div class="attrs">
                    <div ng-if="card[0].att">
                        Attack: {{card[0].att}}

                    </div>
                    <div ng-if="card[0].def">
                        Defense: {{card[0].def}}
                    </div>
                    <div class="resources-needed">
                        Resources Needed:
                        <div class="res" ng-repeat="(type, amount) in card[0].resourcesNeeded">
                            {{type}}: {{amount}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="player main">

        <div class="profile bg-primary" ng-class="{playerDamaged: g.playerDamaged}">
            <div class="name">{{g.game.player.name}}</div>
            <div class="hp">
                {{g.game.player.hp}}
                <span class="player-damage" ng-show="g.playerDamaged">- {{g.playerDamaged}}</span>
            </div>


        </div>
        <div class="cards" ng-click="g.drawCard()" ng-class="{active: g.turnAvailable}">

        </div>
        <div class="cards-drawn">
            <div class="resources">
                <div class="resource" ng-class="{active: g.game.player.newbrick}">Brick: {{g.game.player.brick}}</div>
                <div class="resource" ng-class="{active: g.game.player.newmeat}">Meat: {{g.game.player.meat}}</div>
                <div class="resource" ng-class="{active: g.game.player.newwater}">Water: {{g.game.player.water}}</div>
            </div>
            <div ng-show="g.game.player.cantPlayCard">Not enough resources!</div>

        </div>
    </div>
</div>