<div class="player main">
    <div class="profile" ng-class="{playerDamaged: g.playerDamaged}">
        <div class="player-info">
            <div class="name">{{g.game.player.name}}</div>
            <div class="hp">
                HP: {{g.game.player.hp}}
                <span class="player-damage" ng-show="g.playerDamaged">- {{g.playerDamaged}}</span>
            </div>
        </div>

        <div class="resources">
            <div class="resource" ng-class="{active: g.game.player.newbrick}">Brick: {{g.game.player.brick}}</div>
            <div class="resource" ng-class="{active: g.game.player.newmeat}">Meat: {{g.game.player.meat}}</div>
            <div class="resource" ng-class="{active: g.game.player.newwater}">Water: {{g.game.player.water}}</div>
        </div>
        <div ng-show="g.game.player.cantPlayCard">Not enough resources!</div>
    </div>

</div>

<div class="game-area" ng-class="{damaged: g.playerDamaged}">
    <div ng-if="g.disconnected">YOU GOT DISCONNECTED</div>
    <div class="end-game" ng-if="g.game.gameEnded">
        <div class="lose" ng-if="g.game.lose">You Lose!</div>
        <div class="win" ng-if="g.game.win">You Win!</div>
    </div>


    <div class="board">

        <div class="opponent player">
            <div class="profile bg-danger">
                <div ng-if="!g.game.opponent.name">Waiting for opponent!</div>
                <div class="name">{{g.game.opponent.name}}</div>
                <div class="hp">{{g.game.opponent.hp}}</div>
            </div>
        </div>

        <div class="playing-field">
            <div class="players-card">
                <div class="card-played" ng-show="g.game.player.playedCard">
                    {{g.game.player.playedCard.name}}<br>
                    Attack: {{g.game.player.playedCard.att}}<br>
                    Defense: {{g.game.player.playedCard.def}}<br>

                </div>
            </div>
            <div class="draw-cards">
                <div class="draw-card" ng-class="{active: g.turnAvailable}">
                    Draw a card!
                </div>
                <img src="https://nunoo101.files.wordpress.com/2014/10/playing-card12.jpg" alt="" ng-click="g.drawCard()" >
            </div>
            <div class="opponents-card">
                <div class="card-played" ng-show="g.game.opponent.playedCard">
                    {{g.game.opponent.playedCard.name}}<br>
                    Attack: {{g.game.opponent.playedCard.att}}<br>
                    Defense: {{g.game.opponent.playedCard.def}}<br>
                </div>
            </div>

        </div>
        <div class="players-cards">
            <div ng-repeat="card in g.game.player.characters" ng-click="g.playCard(card[0])" ng-show="card[0]"  card="card[0]">
                <div class="card">
                    <div class="image">
                        <img ng-src="img/{{card[0].name.toLowerCase()}}.png" alt="">
                    </div>
                    <div class="name">{{card[0].name}}</div>
                    <div class="stats">
                        <div>Attack: <span>{{card[0].att}}</span></div>
                        <div>Defense <span>{{card[0].def}}</span></div>
                    </div>
                    <div class="resources-needed">
                        <div>Resourced Needed</div>
                        <div>Meat: <span>{{card[0].resourcesNeeded.meat}}</span></div>
                        <div>Water: <span>{{card[0].resourcesNeeded.water}}</span></div>
                    </div>
                </div>



            
            </div>
        </div>


    </div>
</div>