<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Card Game</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/card.css">
    <link rel="stylesheet" href="css/chat.css">
    <link rel="stylesheet" href="css/trade.css">
    <link rel="stylesheet" href="css/player.css">
</head>
<body ng-controller="main as main">

<ng-view></ng-view>


<script src="/socket.io/socket.io.js"></script>
<script src="angular/angular.min.js"></script>
<script src="angular-route/angular-route.min.js"></script>
<script src="angular-socket-io/socket.min.js"></script>
<script src="js/app.js"></script>
<script src="js/controller/main.js"></script>
<script src="js/controller/game.js"></script>
<script src="js/controller/chat.js"></script>
<script src="js/controller/login.js"></script>
<script src="js/controller/trade.js"></script>
<script src="js/factory/socket.js"></script>
<script src="js/factory/game.js"></script>
<script src="js/factory/chat.js"></script>
<script src="js/factory/player.js"></script>
<script src="js/factory/card.js"></script>
<script src="js/directive/card.js"></script>
<script src="js/directive/player.js"></script>
<script src="js/directive/field.js"></script>
<script src="js/directive/trade.js"></script>
<script src="js/directive/resources.js"></script>
<script src="js/directive/attack.js"></script>
<script src="js/directive/chat.js"></script>
<script src="js/routes.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>