html, body {
    width: 100%;
    height: 100%;
    background: #aaa;
}
.navbar-inverse{
    border-radius:0;
}
.player.main {
    position: absolute;
    left: 0;
    top: 0;
    background: none;
    padding-top: 52px;
    height: 100%;
    width: 200px;
}

.player > div {
    float: left;
    height: 100%;
}

.player .profile {
    width: 100%;
    background: #111;
    color: white;
}

.player .cards {
    width: 15%;
    background: #222;
    cursor: pointer;
}

.player .cards:after {
    content: "Cards";
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player .cards-drawn {
    width: 60%;
    background: #444;
}

.player .cards-drawn .card {
    width: 16%;
    height: 84%;
    color: white;
    position: relative;
    cursor: pointer;
    border: 1px solid black;
    margin: 4% 2%;
    display: flex;
    float: left;
    align-items: center;
    background: #555;
    justify-content: center;
    box-shadow: 0 0 2px black;
    border-radius: 5px;
    flex-direction: column;
}
.resources {
    color: white;
    float: left;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 19%;
    flex-direction: column;
    margin-top: 10px;
}

.cards-played {
    height: 50%;
}

.name{
    font-size: 18px;
}
.attrs {
    font-size: 12px;
}
.cards-played > div {
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    padding: 56px;
    float: left;
}

.cards.active:after {
    color: black;
    background: #59da59;
}

.card-played {
    background: #ca4444;
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.opponent.player .profile {
    width: 100%;
    color:white;
    background: none;
}
.resource.active{
    color: #3ba14d;
}

.damaged{
    border:4px solid red;
}
.player-damaged{
    background: rgba(238, 6, 2, 0.75);
}
.total.ng-binding {
    position: absolute;
    top: 0;
    right: 0;
    border-left: 2px solid #555;
    border-bottom: 2px solid #555;
    border-bottom-left-radius: 8px;
    box-shadow:-1px 1px 3px black;
    width: 20px;
    text-align: center;
}

.players-cards {
    background: #07423a;
    position: absolute;
    bottom: 0;
    height: 27%;
    width: 100%;
}

.resources-needed {
    position: absolute;
    bottom: 10px;
    font-size: 10px;
}

.end-game {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;
    font-size: 120px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    z-index:1;
}
.lose, .win{
    width:50%;
    height:50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lose{
    background:darkred;
}
.win{
    background: #2b8b4d;
}
.player-info {
    background: #2d6284;
    height: 150px;
    padding: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-flow: column;
    font-size: 20px;
}

.player-info  .name {
    font-size: 50px;
}

.game-area {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 72px;
    padding-left: 220px;
    width: 100%;
    height: 100%;
    padding-right: 20px;
    padding-bottom: 20px;
}

.board {
    position: relative;
    background: #1b584a;
    height: 100%;
}

.cards {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.cards img {
    width: 14%;
    cursor: pointer;
    z-index:100;
}

.draw-card {
    background: rgba(0,0,0,0.8);
    padding: 5px;
    position: absolute;
    color: white;
    box-shadow: 0 0 22px black;
    border-radius: 6px;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.opponent.player {
    height: 13%;
    padding: 20px;
    background: #6b3636;
}
.resources> div {
    background: #6b1f1f;
    width: 100%;
    height: 25%;
    align-items: center;
    display: flex;
    padding-left: 10px;
}

.playing-field {
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.playing-field > div {
    height: 100%;
    width: 33.3333%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.draw-cards img {
    width: 40%;
    cursor: pointer;
}

.players-card {
    display: flex;
    align-items: center;
    justify-content: center;
}



.card {
    background: #2c4569;
    padding: 10px;
    box-shadow: 0 0 19px black;
    width: 11vw;
    font-size: 54%;
    height: 100%;
    color: #c3c3c3;
}

.card .image img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5%;
}

.card .name {
    font-size: 121%;
    color: #eee;
    font-weight: 900;
}

.card span {
    float: right;
}

.card div {
    width: 100%;
    position: relative;
}

.card .resources-needed {
    margin-top: 34px;
}

.draw-card.active {
    color: green;
}