html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: url(/img/bg.jpg) top left no-repeat;
    background-size:100% 100%;
}
.navbar-inverse{
    border-radius:0;
}
.player {
    background: #6b3636;
    width: 25%;
    padding: 20px;
    height: 100%;
    color:white;
}
.player .profile{
    width: 100%;
    color:white;
}
.profile .name {
    font-size: 30px;
}
.opponent.player {
    text-align: right;
}

.resources {
    color: white;
    display: flex;
    height: 50%;
    width: 60%;
    background: #924242;
    padding: 10px;
}
.resource.active{
    color: #3ba14d;
}

.end-game {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;
    font-size: 120px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    z-index:1;
}
.lose, .win{
    width:50%;
    height:50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lose{
    background:darkred;
}
.win{
    background: #2b8b4d;
}


.game-area {
    width: 100%;
    height: 100%;
    background: #222;
    position: relative;
    min-width: 800px;
    min-height: 500px;
}

.board {
    position: relative;
    height: 100%;
    
}
.board.attack{
    background: #6b1f1f;
}

.cards {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.cards img {
    width: 14%;
    cursor: pointer;
    z-index:100;
}

.draw-card {
    background: rgba(0,0,0,0.8);
    padding: 5px;
    position: absolute;
    color: white;
    box-shadow: 0 0 22px black;
    border-radius: 6px;
    pointer-events: none;
    display: flex;
    z-index: 1;
    color: green;
    align-items: center;
    justify-content: center;
}


.draw-cards img {
    cursor: pointer;
    width: 35%;
    position: absolute;
}



.playing-field {
    height: 57%;
    display: flex;
    align-items: center;
}
.playing-field img {
    max-width: 100%;
    max-height: 100%;
}

.playing-field > div {
    height: 100%;
    width: 33.3333%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    padding: 10px;
}


.finish{
    color:red;
    background: rgba(0, 0, 0, 0.5);
}

.resource img {
    width: 20px;
    height: 17px;
}

.resource {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
}

ng-view {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 50px;
    height: 100%;
    box-sizing: border-box;
}

form.login-box {
    width: 50%;
    background: #222;
    padding: 27px;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 27%;
}
form.login-box div {
    display: flex;
}


.players-cards {
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    align-items:center;
    justify-content: center;
}
.players-cards > div {
    margin: 4px;
}
.player-area{
    display: flex;
    height: 8%;
}

.board-bg {
    position: absolute;
    background: url(/img/field-bg.jpg);
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    opacity: 0.3;
}

